
#container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

/* Box styling for each product */
.Box {
    border: 1px solid #ccc;
    padding: 20px;
    max-width: 300px;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.Box h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.img{
    width:400px;
    height:320px;
}

.Box img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}


.minus, .plus {
    padding: 5px 10px;
    margin: 0 5px;
    font-size: 1rem;
}


.delete-btn {
    margin-top: 10px;
}

.price {
    display: block;
    margin-top: 10px;
    font-size: 1.2rem;
    color: #4CAF50;
}
input{
    width: 160px;
}

.heart {
    font-size: 1.5rem;
    color: #e74c3c;
    margin-top: 10px;
}


.total {
    text-align: center;
    margin-top: 20px;
    font-size: 1.2rem;
}

#total-price {
    font-weight: bold;
    color: #4CAF50;
}